In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv("Original Customer Purchase Behaviour Analysis.csv")

In [ ]:
Understanding the Data

In [3]:
print(df.head())

                         Transaction ID                           Customer ID  \
0  dc1de28d-ef0c-4fdb-a6a3-c9c7672a24de  cda3f5ab-58cd-40d5-8624-120b2cadb18c
1  e174f2e4-457f-47fb-b33f-7317e3871a98  28230531-bed7-4868-b790-fe0d2e5bf2b4
2  65d3bf79-85d0-4220-99b4-b970b78f1eb0  d743f3d1-e47e-43e4-bc0a-cc8d53739682
3  9347db94-fb8f-4ec1-b60e-9b273d024f0b  b4e7f41a-3a6a-4fcb-92fe-64339f9bfa3a
4  8792cd7f-0c43-436d-9a55-fc405834453e  6d9f27cc-9bfe-4e63-92b8-82f4af2902b2

      Product     Category   Price  Quantity Purchased  Total Amount  \
0    Keyboard  Electronics  105.34                 5.0        526.70
1  Smartphone  Accessories  820.13                 5.0       4100.65
2      Tablet  Accessories  200.43                 2.0        400.86
3     Monitor          NaN  175.13                 1.0        175.13
4    Keyboard  Accessories  967.73                 3.0       2903.19

  Purchase Date
0    2024-07-18
1    2024-12-07
2    2024-07-03
3    2024-09-08
4    2024-12-17

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10510 entries, 0 to 10509
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction ID      10500 non-null  object
 1   Customer ID         10500 non-null  object
 2   Product             10500 non-null  object
 3   Category            9423 non-null   object
 4   Price               9977 non-null   float64
 5   Quantity Purchased  9429 non-null   float64
 6   Total Amount        8966 non-null   float64
 7   Purchase Date       10500 non-null  object
dtypes: float64(3), object(5)
memory usage: 451.7+ KB
None

In [5]:
print(df.describe())

             Price  Quantity Purchased  Total Amount
count  9977.000000         9429.000000   8966.000000
mean    529.872277            3.001379   1587.219820
std     272.872227            1.409217   1174.927403
min      50.150000            1.000000     50.730000
25%     296.290000            2.000000    636.327500
50%     526.660000            3.000000   1284.075000
75%     767.680000            4.000000   2345.527500
max     999.860000            5.000000   4997.800000

In [12]:
print(df.dtypes)

Transaction ID         object
Customer ID            object
Product                object
Category               object
Price                 float64
Quantity Purchased    float64
Total Amount          float64
Purchase Date          object
dtype: object

In [ ]:
Checking for missing values

In [6]:
print(df.isnull().sum())

Transaction ID          10
Customer ID             10
Product                 10
Category              1087
Price                  533
Quantity Purchased    1081
Total Amount          1544
Purchase Date           10
dtype: int64

In [ ]:
Dropping rows that doesnot have essential identifiers

In [7]:
df = df.dropna(subset=['Transaction ID', 'Customer ID', 'Purchase Date'])

In [ ]:
Filling missing values for product and category as Unknown

In [8]:
df['Product'] = df['Product'].fillna('Unknown')
df['Category'] = df['Category'].fillna('Unknown')

In [ ]:
Filling Price and Quantity Purchased with median values

In [9]:
df['Price'] = df['Price'].fillna(df['Price'].median())
df['Quantity Purchased'] = df['Quantity Purchased'].fillna(df['Quantity Purchased'].median())

In [ ]:
Filling all the total amount missing by calculating it using Price and Quantity purchased

In [10]:
df['Total Amount'] = df['Total Amount'].fillna(df['Price'] * df['Quantity Purchased'])

In [ ]:
Dropping rows where Total Amount is still missing

In [11]:
df = df.dropna(subset=['Total Amount'])

In [ ]:
Converting some of the data to appropriate data types

In [13]:
df['Transaction ID'] = df['Transaction ID'].astype(str)
df['Customer ID'] = df['Customer ID'].astype(str)
df['Product'] = df['Product'].astype(str)
df['Category'] = df['Category'].fillna('Unknown').astype(str)
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Quantity Purchased'] = df['Quantity Purchased'].fillna(0).astype(int)
df['Total Amount'] = df['Price'] * df['Quantity Purchased']
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'], errors='coerce')

In [14]:
print(df.dtypes)

Transaction ID                object
Customer ID                   object
Product                       object
Category                      object
Price                        float64
Quantity Purchased             int32
Total Amount                 float64
Purchase Date         datetime64[ns]
dtype: object

In [ ]:
Exporting cleaned data

In [17]:
df.to_csv("cleaned_customer_purchase_data.csv", index=False)